.input-group{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section-header .btn{
    color: white;
    background-color: #FE7F71;
}

.navbar-collapse{
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}.input-group{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section-header .btn{
    color: white;
    background-color: #FE7F71;
}

.navbar-collapse{
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#showPapel{
    display: none;
}
#showPlastico{
    display: none;
}
#showMetal{
    display: none;
}
#showVidro{
    display: none;
}

#showPapel2{
    display: none;
}
#showPlastico2{
    display: none;
}
#showMetal2{
    display: none;
}
#showVidro2{
    display: none;
}

.navbar.navbar-fixed-top {
    background-color: #77937A;
}
/* .materiais{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} */

/* @media screen and (max-width: 768px) {
    .materiais{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
} */

@media screen and (max-width: 768px) {
    .input-group{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-items: center;

    }
}

.form-control{
    font-size: 28px;
}
    

.contact{
    max-width: max-content;
    display: contents !important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 50px !important;
}
.contact2 {
    display: contents;
}

/* .card-body{
    padding: 20px 50px;
    margin-top: 20px;
} */

.location{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.nomeCoo .materiaisCoo{
    margin-bottom: 5px !important;
}

.description{
    margin-bottom: 0px !important;
}

.posicaoCards{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1170px) {
    .posicaoCards{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#email{
    background-color: white;
}
#password{
    background-color: white;
}

.btnDescarte{
    background-color: #FE7F71;
    color: white;
    border: none;
}

.btn-login{
    margin-top: 30px !important;
}

#showRanking{
    display: none;
}
#showTragetoria{
    display: none;
}
#showFeedback{
    display: none;
}